* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
}

html {
  box-sizing: border-box;
}

header{ 
  grid-area: header; 
}
aside { 
  grid-area: side-menu; 
}
main { 
  grid-area: main-panel; 
  background-color: rgb(231, 227, 227);
}
footer { 
  grid-area: footer; 
}

.grid-container {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(50px, 250px) 1fr ;
  grid-template-areas:'header header'
                      'side-menu main-panel'
                      'side-menu footer'; 
}

@media screen and (max-device-width: 1200px) {
  header{ 
    grid-area: header; 
  }
  aside { 
    grid-area: side-menu; 
    width: 50px;
    overflow:hidden;
  }
  main { 
    grid-area: main-panel; 
    overflow:hidden;
  }
  footer { 
    grid-area: footer; 
  }

  .grid-container {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr ;
    grid-template-areas:'header header'
                        'side-menu main-panel'
                        'side-menu footer'; 
  }
}

@media screen and (max-width: 1200px) {
  header{ 
    grid-area: header; 
  }
  aside { 
    grid-area: side-menu; 
    width: 50px;
    overflow:hidden;
  }
  main { 
    grid-area: main-panel; 
    overflow:hidden;
  }
  footer { 
    grid-area: footer; 
  }

  .grid-container {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr ;
    grid-template-areas:'header header'
                        'side-menu main-panel'
                        'side-menu footer'; 
  }
}


