  #first {
    background:radial-gradient(farthest-corner at top, #f3e8d7 3%, #ecd4a0 8%, #e2c483 12.25%, #f1d28f 31.25%, #eec671 50%) top right/200% 300%;
    animation: colorChange 15s infinite alternate linear;
    color: #ff0901;
    border: 1px solid #ff0901;
    box-shadow: 0px 4px 4px 0px black;
  }
  
  .category-panel {
    background-color: rgb(231, 227, 227);
    height: auto;
    width: auto;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(11, 2fr);
    grid-column-gap: 20px; 
    grid-row-gap: auto;
    overflow: auto;
    margin: 10px;
  }

  .category {
    color: #70d657;
    background:radial-gradient(farthest-corner at top, #FFFFFF 0%, #ffb3ff 4%, #ff33ff 12.25%, #800080 31.25%, #b300b3 50%) top right/200% 200%;
    border: 1px solid #70d657;
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
    justify-self: stretch;
    align-self: center;
    font-size: 15px;
    text-decoration: none;
    box-shadow: 0px 4px 4px 0px black;
    text-align: center;
  }

  .category:hover {
    background-color: #F0BA3C;
    border: 1px solid #ff0901;
    color: #ff0901;
  }

  .category-panel::-webkit-scrollbar {
    display: none;
   }

