.footer {
  background:radial-gradient(farthest-corner at top, #FFFFFF 0%, #ffb3ff 4%, #ff33ff 12.25%, #800080 31.25%, #b300b3 50%) top right/200% 200%;
    width: 100%;
    padding-top: 5px;
    text-align: center;
  }