button {
  height: 48px;
  width: 48px;
  margin: 10px;
  border-radius: 3px;
  box-shadow: 2px 2px 0px 0px black;
}

header {  
  width: 100%;
  top: 0;
  left: 0;
  background:radial-gradient(farthest-corner at top, #FFFFFF 0%, #ffb3ff 4%, #ff33ff 12.25%, #800080 31.25%, #b300b3 50%) top right/200% 200%;
  display: inline-flex;  
  align-items: center;
  box-shadow: 0px 4px 4px 0px black;
  z-index: 1;
  text-align: left;
}

form {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

input {
  background-color: #cfcec8;
  border: none;
  outline: none;
  height: 45px;
  width: 50%;
  border-radius: 3px;
  box-shadow: 4px 4px 0px 0px black;
}

img
{
  border-radius: 12px;
}

header > div {
  display: inline-block;  
  padding: 10px;
}

.menu {
  display: inline-flex;
}

.form-search {
  display: flex;
  justify-content: center; 
  align-items: center;
}

.form-search :hover {
  background: #ffe;
  border: 5px solid #F0AA3D;
}

.button-search {
  background-color:#93DB58;
}

.button-microphone {
  background-color:#93DB58;
}

.profil {
  background-color: #cfcec8;
}

.notify { 
  background-color: #cfcec8;
}
.profil-menu {
  display: inline-block;
}

.profil-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px black;
  right: 10px;
}

.profil-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none; 
  display: block;  
  border: 1px solid rgb(153, 153, 153);
}

.profil-content a:hover {
  background-color: #f0d390;  
}

.profil-menu:hover .profil-content {
  display: block;
}

.profil-menu:hover .profil {
  background-color: #70d657;
}

.notify:hover {
  background-color: #70d657;
}

.fa-search {
  color: #8621A3;
}

.fa-microphone {
  color: #8621A3;
} 

.fa-bell {
  color: #8621A3;
}

.fa-user-circle {
  color: #8621A3;
}

.profil-content > .fa-sign-out {
  color: red;
}

@media screen and (max-device-width: 600px) {
  .button-microphone {
    display: none;
  }

  .notify {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .button-microphone {
    display: none;
  }

  .notify {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .form-search {
    display: none;
  }
  
  .button-microphone {
    display: none;
  }

  .notify {
    display: none;
  }
}


