.category-panel { 
    grid-area: category; 
  }

.video-panel { 
    grid-area: video-panel; 
  }
  
.video-container {
    grid-area: video-container; 
}

.main-panel {
    background-color: rgb(231, 227, 227);
    height: auto;
    width: auto;
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:'category'
                        'video-panel'
                        'video-container'; 
  }