.streamers { 
  grid-area: streamers; 
  background-color: #cfcec8;
  height: auto;
  overflow: auto; 
}
.information { 
  grid-area: information; 
  background:radial-gradient(farthest-corner at top, #eee1c4 3%, #ecd4a0 8%, #e2c483 12.25%, #f1d28f 31.25%, #eec671 50%) top right/200% 300%;
  text-align: center;
  padding: 30px;
  animation: colorChange 20s infinite alternate linear;
}

@keyframes colorChange {
  from {
    background-position:top 0 left 33%;
    background-size:400% 200%;
  
  }
  50% {
    background-position:top center;
    background-size:200% 200%;
  }
  to {
    background-position:top 0 right 33%;
    background-size:400% 200%;
  }
}

.side-menu {
  height: auto;
  width: auto;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: minmax(50px, 250px);
  grid-template-areas:'streamers'
                      'information'; 
}

.streamers::-webkit-scrollbar {
  display: none;
 }

.side-menu a {
  padding: 8px;
  text-decoration: none;
  color: #C224F0;
  display: block;
}

.side-menu a:hover {
  color: #F0BA3C;
}

.appeal {
  color: red;  
}

.appeal > strong {
  font-size: 30px;
}

.round {
  border-radius: 40px;
  border: 3px solid #F0BA3C; 
}

strong::selection {
  color: #F0BA3C; 
  background: #C224F0; 
 }

#sing:hover {
  color: #C224F0;
}

.streamer > div {
  display: inline-block;
  vertical-align: middle;
  min-width: 10px;
  max-width: 80px;
  white-space: nowrap;
  overflow: hidden;
}

.name-streamer {
  width: 100px;
  text-overflow: ellipsis;
}

.funs {
  width: 50px;
}

.streamers a:hover {
  background-color: #ca891f;  
  color: rgb(145, 3, 138);
}

.pulse {
	background: rgb(55, 206, 17);
	border-radius: 50%;
	margin: 10px;
	height: 10px;
	width: 10px;

	box-shadow: 0 0 0 0 rgb(66, 192, 55);
	transform: scale(1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(100, 240, 58, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

@media screen and (max-device-width: 1200px) {
  .streamers { 
    grid-area: streamers; 
    background-color: #cfcec8;
    height: auto;
    overflow-x: hidden;
  }
  .information { 
    display: none;
  }

  .side-menu {
    height: auto;
    width: 75px;
    display: grid;
    grid-template-rows:auto;    
    grid-template-areas:'streamers'; 
  }

  .streamers > a > .name-streamer {
    display: none;
  }

  .streamers > a > .pulse {
    display: none;
  }

  .streamers > a > .funs {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .streamers { 
    grid-area: streamers; 
    background-color: #cfcec8;
    height: auto;
    overflow-x: hidden;
  }
  .information { 
    display: none;
  }

  .side-menu {
    height: auto;
    width: 75px;
    display: grid;
    grid-template-rows:auto;    
    grid-template-areas:'streamers'; 
  }

  .streamers > a > .name-streamer {
    display: none;
  }

  .streamers > a > .pulse {
    display: none;
  }

  .streamers > a > .funs {
    display: none;
  }
}
  
