img {
  margin: 5px;
  max-width: 100%;
  vertical-align: middle;
  }

.video-container {
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 10px 10px;
  overflow-x: hidden;
  }

.video-content {
  padding: 5px;
  border-radius: 10px;
  border: 2px solid #C224F0;
  background-color: #f0d390;
  display: inline-flex;
  flex-direction: column;
} 

.fa-ellipsis-v {
  float: right;
}

.name {
  font-size: 15px;
  margin: 0px;
}

.stream {
  display: inline-flex;
  vertical-align: middle;
  font-size: 30px;
}

.stream {
  order: 2;
  float: left;
} 

.ellipsis {
  align-items: baseline;
}  

.stream > a {
  text-decoration: none;
  color: black;
  width: 40%;
  overflow: hidden;
  text-overflow: ellipsis;
}


  /* .video:hover {
    animation: video ease 10s;
  -webkit-animation: video ease 10s;
  -moz-animation: video ease 10s;
  -o-animation: video ease 10s;
  /* -ms-animation: video ease 10s; */
  /* }

  @keyframes video {
    80% {opacity:0;}
    20% {opacity:1;}
  }
  
  @-moz-keyframes video {
    80% {opacity:0;}
    20% {opacity:1;}
  }
  
  @-webkit-keyframes video {
    80% {opacity:0;}
    20% {opacity:1;}
  }
  
  @-o-keyframes video {
    80% {opacity:0;}
    20% {opacity:1;}
  }
  
  @-ms-keyframes video {
    0% {opacity:0;}
    100% {opacity:1;}
  } */ 




   